:root { 
--gray_700:#58595b; 
--deep_orange_600_34:#ff4e0f34; 
--deep_orange_700_00:#d65b1500; 
--light_green_A700:#2dc100; 
--light_blue_A700:#0084ff; 
--red_A700_0c:#eb0a1e0c; 
--red_A700_33:#eb0a1e33; 
--red_A700_99:#eb0a1e99; 
--white_A700:#ffffff; 
--red_A700:#eb0a1e; 
--deep_orange_700_0f:#e357130f; 
}